body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
h2 {
  font-size: 16px;
}
.row {
  width: fit-content;
  display: flex;
  border: 3px dotted black;
  column-gap: 4px;
  margin-bottom: 50px;
}
.item {
  width: 150px;
  height: 150px;
  background-color: red;
  padding: 5px;
}
.item_two {
  background-color: green;
}
.pos_relative {
  position: relative;
  top: 25px;
  left: 25px;
}
.pos_absolute {
  position: absolute;
  top: 559px;
  left: 25px;
}
